.card{
    border-radius: 15px;
    //border: 1px solid black;
    //box-sizing: border-box;
    background-color: var(--white);
    overflow: hidden;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}