<div class="navbar-container">
    <div (click)="sendSidebarAction()" class="sidebar-button u-flex-col u-flex-jus-center u-flex-alg-center">
        <svg >
            <use [attr.xlink:href]="'assets/svg/icons-app.svg#svg-menu'" />
        </svg>
    </div>
    <h2 class="page-title">
        Davur
    </h2>
    <div class="navbar-options">
        <div *ngFor="let option of navbarOptions">
            <svg >
                <use [attr.xlink:href]="'assets/svg/icons-app.svg#' + option.icon" />
            </svg>
            <span>
                {{option.text}}
            </span>
        </div>
    </div>
    <div class="profile">
        <!-- Perfil -->
        <!-- <div class="u-flex">
            <app-button (btnClick)="changePage(false)" [firstIcon]="true" [buttonCnf]="prevButton"></app-button>
            <app-button (btnClick)="changePage(true)"  [buttonCnf]="nextButton"></app-button>
        </div> -->
    </div>
</div>


