<div class="navbar-container">
    <h2 class="page-title">
        Davur
    </h2>
    <div class="navbar-options">
        <div *ngFor="let option of navbarOptions">
            <svg >
                <use [attr.xlink:href]="'assets/svg/icons-app.svg#' + option.icon" />
            </svg>
            <span>
                {{option.text}}
            </span>
        </div>
    </div>
    <div class="profile">
        Perfil
        <app-button (btnClick)="sendEventToMenuPage()" [buttonCnf]="navButton"></app-button>
    </div>
</div>


