:host{
    overflow: hidden;
}

.container-restaurant{
    height: calc(100% - 80px);
    position: relative;
}

.pages{
    // width: calc(100% - var(--width-sidebar));
    width: 100%;
    overflow-y: auto;
}

.sidebar-test{
    background-color: red;
}