<app-button
    [buttonCnf]="btnCnf"
    (btnClick)="changeAttributes()"
></app-button>
<app-button
    [buttonCnf]="btnCnf"
    (btnClick)="showButtonClick($event)"
></app-button>
<app-button
    *ngIf="showButon2"
    [buttonCnf]="btnCnf2"
></app-button>
<div class="food-list row">
    <app-card class="food-list-item col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let item of [].constructor(12)" >
        <img src="https://davur.dexignzone.com/frontend/images/dish/1.jpg"/>
        <div class="food-info">
            <h5>Cheese Burger</h5>
            <span>
                <svg >
                    <use [attr.xlink:href]="'assets/svg/icons-app.svg#svg-billing'" />
                </svg>
                6.00
            </span>
        </div>
    </app-card>
</div>
