<ng-template #showLoader>
    <h2>Cargando...</h2>
</ng-template>

<div class="sidebar-container">
        <ng-container *ngIf="categories$ | async as categories;else showLoader">
            <span *ngIf="categories.length===0">No existen datos</span>
        
            <div *ngIf="categories.length>0" class="sidebar-options">
                <div *ngFor="let category of categories">
                    <span>
                        {{ category.name }}
                    </span>
                </div>
            </div>
    </ng-container>
</div>

<!-- <div class="sidebar-container">
    <ng-container *ngIf="categoriesLoaded;else showLoader">

        <span *ngIf="categoriesSubscribe.length===0">No existen datos</span>
        
        <div *ngIf="categoriesSubscribe.length>0" class="sidebar-options">
            <div *ngFor="let category of categoriesSubscribe">
                <span>
                    {{ category.name }}
                </span>
            </div>
        </div>
    </ng-container>
    
</div> -->
