:root{
    --bg-color:#f0f0f0;
    --primary:#2f4cdd;
    --secondary:#3c4469;
    --accent:#ff6d4d;
    --soft:#ffeae6;
    --gray:#a2a2a2;
    --white:#fff;
    --green:#50fb00;

    --rad-medium:20px;
    --rad-small:15px;

    --width-sidebar:160px;
    --width-sidebar-large:460px;
    --height-navbar:80px;
}