
<div class="u-flex u-flex-jus-center u-m-t-10">
    <div>
        <div [formGroup]="formCheckout" class="u-flex u-gap-15 u-flex-alg-center">
            <h2>Precio unitario: {{unitPrice}} Bs.</h2>
            <mat-form-field  class="col-12" class="example-full-width" appearance="outline">
                <mat-label>Cantidad</mat-label>
                <input (ngModelChange)="changeTotalPrice($event)" formControlName="quantity" matInput placeholder="Monto">
                <mat-error *ngIf="formCheckout.controls.quantity.dirty || formCheckout.controls.quantity.touched">
                    <mat-error *ngIf="formCheckout.controls.quantity.errors?.required">
                        El campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.quantity.errors?.pattern">
                        Ingrese solo números
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.quantity.errors?.min">
                        {{'Mínimo '+ formCheckout.controls.quantity.errors?.min.min +' Bs.'}}
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.quantity.errors?.max">
                        {{'Máximo '+ formCheckout.controls.quantity.errors?.max.max +' Bs.'}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <h2>Total: {{total}} Bs.</h2>
        </div>
        <!-- <app-button class="col-12" [buttonCnf]="{text:'Cambiar total a pagar',color:'blue'}" (btnClick)="changeTotalPayment()"  ></app-button> -->
        <form  [formGroup]="formCheckout" class="row">
            
            
            <mat-form-field class="col-12" appearance="outline">
                <mat-label>Metodo de pago</mat-label>
                <mat-select (selectionChange)="handlePaymentForm($event.value)" formControlName="paymentMethod">
                    <mat-option *ngFor="let method of paymentMethods" [value]="method.value">
                        {{ method.description }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formCheckout.controls.paymentMethod.dirty || formCheckout.controls.paymentMethod.touched">
                    <mat-error *ngIf="formCheckout.controls.paymentMethod.errors?.required">
                        El campo es obligatorio
                    </mat-error>
                </mat-error>
            </mat-form-field>
    
    
            <mat-form-field *ngIf="formCheckout.controls.amount.enabled" class="col-12" class="example-full-width" appearance="outline">
                <mat-label>Monto</mat-label>
                <input (ngModelChange)="checkInputFieldOutput($event)" formControlName="amount" matInput placeholder="Monto">
                <mat-error *ngIf="formCheckout.controls.amount.dirty || formCheckout.controls.amount.touched">
                    <mat-error *ngIf="formCheckout.controls.amount.errors?.required">
                        El campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.amount.errors?.pattern">
                        Ingrese solo números
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.amount.errors?.min">
                        {{'Mínimo '+ formCheckout.controls.amount.errors?.min.min +' Bs.'}}
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.amount.errors?.max">
                        {{'Máximo '+ formCheckout.controls.amount.errors?.max.max +' Bs.'}}
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="formCheckout.controls.cardNumber.enabled" class="col-5 example-full-width" appearance="outline">
                <mat-label>Digitos iniciales tarjeta</mat-label>
                <input formControlName="cardNumber" matInput placeholder="Número de tarjeta">
                <mat-error *ngIf="formCheckout.controls.cardNumber.dirty || formCheckout.controls.cardNumber.touched">
                    <mat-error *ngIf="formCheckout.controls.cardNumber.errors?.required">
                        El campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.cardNumber.errors?.pattern">
                        Ingrese solo números
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.cardNumber.errors?.min">
                        {{'Mínimo '+ formCheckout.controls.cardNumber.errors?.min.min +' Bs.'}}
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.cardNumber.errors?.minlength">
                        {{'Ingrese mínimo '+ formCheckout.controls.cardNumber.errors?.minlength.requiredLength+ ' caracteres'}}
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.cardNumber.errors?.maxlength">
                        {{'Ingrese máximo '+ formCheckout.controls.cardNumber.errors?.maxlength.requiredLength+ ' caracteres'}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="formCheckout.controls.cardNumber2.enabled"  class="example-full-width col-5" appearance="outline">
                <mat-label>Digitos finales tarjeta</mat-label>
                <input formControlName="cardNumber2" matInput placeholder="Número de tarjeta">
                <mat-error *ngIf="formCheckout.controls.cardNumber2.dirty || formCheckout.controls.cardNumber2.touched">
                    <mat-error *ngIf="formCheckout.controls.cardNumber2.errors?.required">
                        El campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.cardNumber2.errors?.pattern">
                        Ingrese solo números
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.cardNumber2.errors?.min">
                        {{'Mínimo '+ formCheckout.controls.cardNumber2.errors?.min.min +' Bs.'}}
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.cardNumber2.errors?.minlength">
                        {{'Ingrese mínimo '+ formCheckout.controls.cardNumber2.errors?.minlength.requiredLength+ ' caracteres'}}
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.cardNumber2.errors?.maxlength">
                        {{'Ingrese máximo '+ formCheckout.controls.cardNumber2.errors?.maxlength.requiredLength+ ' caracteres'}}
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width col-12" appearance="outline">
                <mat-label>Cambio</mat-label>
                <input formControlName="change" matInput placeholder="Número de tarjeta">
                <mat-error *ngIf="formCheckout.controls.change.dirty || formCheckout.controls.change.touched">
                    <mat-error *ngIf="formCheckout.controls.change.errors?.required">
                        El campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.change.errors?.pattern">
                        Ingrese solo números
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.change.errors?.min">
                        {{'Mínimo '+ formCheckout.controls.change.errors?.min.min +' Bs.'}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field class="col-12" class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Email">
                <mat-error *ngIf="formCheckout.controls.email.dirty || formCheckout.controls.email.touched">
                    <mat-error *ngIf="formCheckout.controls.email.errors?.required">
                        El campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.email.errors?.email">
                        Ingrese un email válido
                    </mat-error>
                </mat-error>
            </mat-form-field>
    

            <mat-form-field class="col-12" class="example-full-width" appearance="outline">
                <mat-label>Dirección</mat-label>
                <textarea formControlName="address" matInput placeholder="Dirección"></textarea>
                <mat-error *ngIf="formCheckout.controls.address.dirty || formCheckout.controls.address.touched">
                    <mat-error *ngIf="formCheckout.controls.address.errors?.required">
                        El campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.address.errors?.minlength">
                        {{'Ingrese mínimo '+ formCheckout.controls.address.errors?.minlength.requiredLength+ ' caracteres'}}
                    </mat-error>
                    <mat-error *ngIf="formCheckout.controls.address.errors?.maxlength">
                        {{'Ingrese máximo '+ formCheckout.controls.address.errors?.maxlength.requiredLength+ ' caracteres'}}
                    </mat-error>
                </mat-error>
            </mat-form-field>

        </form>
    </div>
</div>
<div class="u-flex u-flex-jus-center">
    <app-button [buttonCnf]="{text:'Aceptar',color:'orange'}" (btnClick)="test()"  >     </app-button>

</div>
